examples/example-workflow-webhook.json
{
  "name": "Пример: Webhook обработчик",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "test-webhook-id"
    },
    {
      "parameters": {
        "functionCode": "// Обработка данных из webhook\nconst body = items[0].json.body;\nconst headers = items[0].json.headers;\n\nreturn [\n  {\n    json: {\n      message: 'Webhook получен успешно',\n      receivedData: body,\n      timestamp: new Date().toISOString(),\n      source: headers['user-agent'] || 'unknown'\n    }\n  }\n];"
      },
      "name": "Process Webhook Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process Webhook Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Webhook Data": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "meta": {
    "instanceId": "example"
  }
}

