examples/example-workflow-schedule.json
{
  "name": "Пример: Запланированное выполнение",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/n8n-io/n8n",
        "options": {}
      },
      "name": "Check GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Обработка данных репозитория\nconst repo = $input.item.json;\n\nreturn {\n  json: {\n    name: repo.name,\n    stars: repo.stargazers_count,\n    forks: repo.forks_count,\n    open_issues: repo.open_issues_count,\n    last_update: repo.updated_at,\n    url: repo.html_url,\n    checked_at: new Date().toISOString()\n  }\n};"
      },
      "name": "Process Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Check GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check GitHub": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {},
  "active": false
}

